<nav class="navbar navbar-expand-lg navbar-dark blue">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item mr-3">
          {% if user.is_authenticated %}
            {% if user.profile.role == "Customer" %}
              <a href="{% url 'customer:customer_profile' %}" class="nav-link">
                  <i class="fas fa-user"></i>
              </a>
            {% elif user.profile.role == "Merchant" %}
                <a href="{% url 'merchant:dashboard' %}" class="nav-link">
                    <i class="fas fa-user"></i>
                </a>
            {% elif user.profile.role == "Driver" %}
                <a href="{% url 'driver:dashboard' %}" class="nav-link">
                    <i class="fas fa-user"></i>
                </a>
            {% endif %}
          {% else %}
            <a href="{% url 'account_login' %}" class="nav-link">
              <i class="fas fa-user"></i>
            </a>
          {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'customer:merchant_index' %}">Place an Order!</a>
        </li>
      </ul>

    </div>
  </nav>