{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Submitted!</h1>
            <p>You should receive a confirmation email soon.</p>
            <a href="{% url 'index' %}">Go to the homepage</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Order Summary:</h3>
            {% for item in items.all %}
                <p>{{ item.name }} <span class="pl-3">{{ item.price }}</span></p>
            {% endfor %}

            <p class="font-weight-bold pt-4">Total: {{ price }}</p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div id="paypal-button">
                    <!-- <a href="{% url 'payment-submitted' %}" type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-shopping-cart"></i> &nbsp;Check Out
                    </a> -->
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-shopping-cart"></i> &nbsp;Submit Payment
                    </button>
                    
                </div>

            </div>
        </div>
    </form>

</div>



{% endblock content %}